AWS_RDS_URL="postgresql://<USER>:<PASSWORD>@<YOUR_RDS_ENDPOINT>.us-east-1.rds.amazonaws.com:5432/postgres?sslmode=require"
SUPABASE_URL="postgresql://postgres.[PROJECT_ID]:<PASSWORD>@aws-0-us-east-1.pooler.supabase.com:6543/postgres"
